
.posts-navigation,
.post-navigation,
.comment-navigation {
	margin-bottom: 50px;
	font-style: italic;
	color: $color__link-nav;

	.nav-previous,
	.nav-next {
		padding: 30px;
	}

}

.comment-navigation {
	margin-left: 0;
}

.posts-navigation .nav-previous,
.post-navigation .nav-previous,
.comment-navigation .nav-previous {
	text-align: center;
	padding-left: 0;
}

.posts-navigation .nav-next,
.post-navigation .nav-next,
.comment-navigation .nav-next {
	text-align: center;
	padding-right: 0;
}

.post-navigation,
.comment-navigation {
	.nav-previous a:before {
		content: '\2039';
		padding-right: 5px;
	}

	.nav-next a:after {
		content: '\203a';
		padding-left: 5px;
	}
}

@include breakpoint( '<480px' ) {
	.posts-navigation,
	.post-navigation,
	.comment-navigation {
	}
	.posts-navigation .nav-previous,
	.post-navigation .nav-previous,
	.comment-navigation .nav-previous,
	.posts-navigation .nav-next,
	.post-navigation .nav-next,
	.comment-navigation .nav-next {
		float: none;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
}

.pagination-pages, .nav-previous, .nav-next {
	display: inline-block;
}

.nav-links {
    text-align: center;
}

.pagination-pages a {
    padding: 0 1em;
}

a.active {
	text-decoration: underline;
}
