/* Small menu. */
.menu-toggle {
  display: block;
  margin: 10px 0;
  width: 100%;
  border-bottom: 2px solid rgba(106, 115, 121, 0.15); 
}

.menu-toggle button {
    margin-bottom: -2px;
    padding: 3px 2px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #6A7379;
    border-radius: 0;
    box-shadow: none;
    text-align: left;
    color: #6A7379; 
}
.menu-toggle:hover button,
.menu-toggle button:hover,
.menu-toggle button:active,
.menu-toggle button:focus {
    outline: none;
    color: #2b2424; 
}

.main-navigation .menu-open ul {
  display: block; 
}
.main-navigation ul {
  display: none; 
}

// @media (min-width: 661px) {
//     .menu-toggle {
//         display: none; 
//     }
//     .main-navigation ul {
//         display: none; 
//     } 
// }
